/* nprogress.css */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #d1df20; /* Tailwind green-500 */
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px; /* thickness */
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #d1df20, 0 0 5px #d1df20;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner {
  display: none; /* optional, hide spinner */
}
